.login_main {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  // display: grid;
  // grid-template-columns: repeat(2 ,50%);
  .logo_loginimage {
    background-image: url('../../../../../libs/common/assets/images/Login_main_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    .login_logo {
      max-width: 70%;
      width: 340px;
    }
    .login_main_img {
      width: 90%;
      position: absolute;
      bottom: 0;
      opacity: 0.3;
    }
    padding: 40px;
    .login_main_img_box {
      margin-top: 25px;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      //   height: calc(100vh - 140px);

      .login_tagline {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.3;
        width: 100%;
        text-align: center;
      }
    }
  }
  .login_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .login_form_main {
      flex: 1 1 calc(100vh - 60px);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .login_form {
        width: 60%;
        .welcome_text {
          margin: 0;
          font-size: 36px;
          line-height: 44px;
          font-weight: 700;
          color: #101828;
        }
        .login_caption {
          margin: 0;
          margin-block-end: 60px;
          color: #667085;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .login_footer {
      flex: 0 0 60px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #444;
      span {
        font-size: 12px;
      }
    }
  }
}
