.partreturnfield{
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
}

.dataselector{
    margin-right: 2rem;
    width: 20rem;
}

.actions {
    display: flex;
    column-gap: 1rem;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid #eaecf0;
    background-color: #ffffff;
  
    &__cancel {
      margin-right: 1rem;
    }
  }

  .actions1 {
    display: flex;
    
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid #eaecf0;
    background-color: #ffffff;
  
   
  }

.remarkfield {
  width: 30%;
}
  